<img src="https://raw.githubusercontent.com/OpenEnergyPlatform/academy/develop/docs/data/img/OEP_logo_2_no_text.svg" alt="OpenEnergy Platform" height="75" width="75" align="left"/>

# API tutorial 2 - Advanced OEP-API data queries using query parameters

Repository: https://github.com/openego/oedialect

Please report bugs and improvements here: https://github.com/OpenEnergyPlatform/examples/issues <br>
How to get started with Jupyter Notebooks can be found here: https://realpython.com/jupyter-notebook-introduction/ <br>
Please ensure you have read the Terms of use here: https://openenergy-platform.org/legal/tou/

In [1]:
__copyright__ = "Reiner Lemoine Institut, Zentrum f√ºr nachhaltige Energiesysteme Flensburg"
__license__   = "GNU Affero General Public License Version 3 (AGPL-3.0)"
__url__       = "https://github.com/openego/data_processing/blob/master/LICENSE"
__author__    = "wolfbunke, Ludee"

## Introduction

<br>
<div class="alert alert-block alert-danger">
This is an important information!
</div>
<div class="alert alert-block alert-info">
This is an information!
</div>
<div class="alert alert-block alert-success">
This is your task!
</div>

This tutorial gives you an overview of the [**OpenEnergy Platform**](https://openenergy-platform.org/) and how you can work with the **REST-full-HTTP** API in Python. <br>
The full API documentaion can be found on [ReadtheDocs.io](http://oep-data-interface.readthedocs.io/en/latest/api/how_to.html\#authenticate).


## Part II - How to work with the OpenEnergy Platform (OEP)

0 Setup token <br>
1 Select data from a table <br>
2 Include filters <br>
3 More Options

In [2]:
# pip install requests pandas

import requests
import pandas as pd

## 1. Select data from a table

In [3]:
# select data
schema = 'sandbox'
table = 'example_api_table_test'
oep_url = 'https://openenergy-platform.org'
get_data = requests.get(oep_url + '/api/v0/schema/' + schema + '/tables/' + table + '/rows/')
get_data.status_code

200

<div class="alert alert-block alert-info">
<b>Response [201]</b> succesfully selected data! <br>
<b>Response [404]</b> table doesn't exist!
</div>

In [4]:
# Convert to dataframe
plant_df = pd.DataFrame(get_data.json())
plant_df

   id       name          type capacity        lat         lon
0   1   Anlage 1  wind_onshore    20000   52.40731     7.46118
1   3   Anlage 3  photovoltaic      5.5  51.804783  11.6341573
2  11  Anlage 11  photovoltaic      5.5  51.804783    10.41573
3   2   Anlage 2            pv        2  51.804783   11.686346

## 2. Include filters
<div class="alert alert-block alert-info">
A filter option is applied at the end of the result URL like this ".../rows/<b>?</b>where=filter_statement" and is processed as HTTP/get request by the API.<br>
</div>

### 2.1 where

In [5]:
# insert 'columnname=value'
where = 'type=wind_onshore'

result = requests.get(oep_url + '/api/v0/schema/' + schema + '/tables/' + table + '/rows/?where=' + where)
print(result.status_code)

# Convert to dataframe
df = pd.DataFrame(result.json())
df

200

   id      name          type capacity       lat      lon
0   1  Anlage 1  wind_onshore    20000  52.40731  7.46118

<div class="alert alert-block alert-info">
<b>Response [201]</b> succesfully selected data! <br>
<b>Response [404]</b> table doesn't exist!
</div>

### 2.2 column

<div class="alert alert-block alert-info">
Name of a column to include in the results. If not present, all columns are returned.
</div>

In [6]:
# select columns by columnname
# select multiple columns using &
column = 'column=name&column=id&column=type'

result = requests.get(oep_url + '/api/v0/schema/' + schema + '/tables/' + table + '/rows/?' + column)
print(result.status_code)

# Convert to dataframe
df = pd.DataFrame(result.json())
df

200

        name  id          type
0   Anlage 1   1  wind_onshore
1   Anlage 3   3  photovoltaic
2  Anlage 11  11  photovoltaic
3   Anlage 2   2            pv

<div class="alert alert-block alert-info">
<b>Response [201]</b> succesfully selected data! <br>
<b>Response [404]</b> table doesn't exist!
</div>

### 2.3 limit

<div class="alert alert-block alert-info">
The limit option is used to limit the number of results returned by the API. This is useful when querying a large data set with many results for the specific filter request.
</div>

In [7]:
# set the number of results
limit = '2'

result = requests.get(oep_url + '/api/v0/schema/' + schema + '/tables/' + table  +  '/rows/?limit='  +  limit)
print(result.status_code)

# Convert to dataframe
df = pd.DataFrame(result.json())
df

200

   id      name          type capacity        lat         lon
0   1  Anlage 1  wind_onshore    20000   52.40731     7.46118
1   3  Anlage 3  photovoltaic      5.5  51.804783  11.6341573

<div class="alert alert-block alert-info">
<b>Response [201]</b> succesfully selected filtered data! <br>
<b>Response [404]</b> table doesn't exist!
</div>

### 2.4 orderby

<div class="alert alert-block alert-info">
The ORDER BY keyword is used to sort the result-set in ascending order.
</div>

In [8]:
# insert column name
order_by = 'id'

result = requests.get(oep_url + '/api/v0/schema/' + schema + '/tables/' + table + '/rows/?orderby=' + order_by)
result.status_code
print(result)

# Convert to dataframe
df = pd.DataFrame(result.json())
df

<Response [200]>

   id       name          type capacity        lat         lon
0   1   Anlage 1  wind_onshore    20000   52.40731     7.46118
1   2   Anlage 2            pv        2  51.804783   11.686346
2   3   Anlage 3  photovoltaic      5.5  51.804783  11.6341573
3  11  Anlage 11  photovoltaic      5.5  51.804783    10.41573

<div class="alert alert-block alert-info">
<b>Response [201]</b> succesfully selected data! <br>
<b>Response [404]</b> table doesn't exist!
</div>

<div class="alert alert-block alert-info">
It is possible to combine filters by appending a "&" to the end of the URL then adding another filteroption like "/rows/?limit=somelimit<b>&</b>orderby=someorder"
</div>

In [9]:
# insert column name
order_by = 'id'
# set the number of results
limit = '2'

result = requests.get(oep_url + '/api/v0/schema/' + schema + '/tables/' + table + '/rows/?limit=' + limit + '&orderby=' + order_by)
print(result.status_code)

# Convert to dataframe
df = pd.DataFrame(result.json())
df

200

   id      name          type capacity        lat        lon
0   1  Anlage 1  wind_onshore    20000   52.40731    7.46118
1   2  Anlage 2            pv        2  51.804783  11.686346

<div class="alert alert-block alert-info">
<b>Response [201]</b> succesfully selected data! <br>
<b>Response [404]</b> table doesn't exist!
</div>

### 2.5 Combine filters

In [10]:
# insert 'columnname=value'
where = 'type=photovoltaic'

# select columns by columnname
# select multiple columns using &
column = 'column=name&column=id&column=type'

result = requests.get(oep_url + '/api/v0/schema/' + schema + '/tables/' + table + '/rows/?where=' + where + '&' + column)
print(result.status_code)

# Convert to dataframe
df = pd.DataFrame(result.json())
df

200

        name  id          type
0   Anlage 3   3  photovoltaic
1  Anlage 11  11  photovoltaic

<div class="alert alert-block alert-info">
<b>Response [201]</b> succesfully selected data! <br>
<b>Response [404]</b> table doesn't exist!
</div>

## 3. More Options

There are also optional parameters for these GET-queries:

**offset**: Ignore the specified amount of rows <br>
**where**: Constraint fourmulated as VALUE+OPERATOR+VALUE with <br>
1 VALUE: Constant or name of a column <br>
2 OPERATOR: One of the following: <br>
* EQUALS or `=`, <br>
* GREATER or `>`, <br>
* LOWER or `<`, <br>
* NOTEQUAL or `!=` or <>, <br>
* NOTGREATER or `<=`, <br>
* NOTLOWER or `>=` <br>

<div class="alert alert-block alert-success">
Try some selects!
</div>