<img src="http://openenergy-platform.org/static/OEP_logo_2_no_text.svg" alt="OpenEnergy Platform" height="100" width="100"  align="left"/>

# OpenEnergyPlatform
<br><br>

## Usage of OpenEnergyPlatform API-Dialect (oedialect)
Repository: https://github.com/openego/oedialect <br>
Documentation: http://oep-data-interface.readthedocs.io/en/latest/api/how_to.html

Please report bugs and improvements here: https://github.com/OpenEnergyPlatform/oedialect/issues <br>

In [1]:
__copyright__ = "Reiner Lemoine Institut"
__license__   = "GNU Affero General Public License Version 3 (AGPL-3.0)"
__url__       = "https://github.com/openego/data_processing/blob/master/LICENSE"
__author__    = "christian-rli, oakca"

In [2]:
import pandas as pd
import getpass
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker
import oedialect

## Reading data from a csv file and uploading it to the oedb

Pandas has a read_csv function which makes importing a csv-file rather comfortable. It reads csv into a DataFrame. By default, it assumes that the fields are comma-separated. Our example file has columns with semicolons as separators, so we have to specify this when reading the file. 

The example file for this tutorial ('DataTemplate.csv') is in a 'data' directory, one level above the file for this tutorial. Make sure to adapt the path to the file you're using if your file is located elsewhere.

In [3]:
example_df = pd.read_csv('../data/TemplateData.csv', encoding='utf8', sep=';')

Looking at the first three lines of our dataframe:

In [4]:
example_df[:3]

           variable              unit  year  value
0  Antimatter price  Euro (2010) / GJ  2020   3.00
1  Antimatter price  Euro (2010) / GJ  2030   3.30
2  Antimatter price  Euro (2010) / GJ  2040   3.33

## Connection to OEP

If we want to upload data to the OEP we first need to connect to it, using our OEP user name and token. 
Note: You ca view your token on your OEP profile page after logging in.

In [5]:
# White spaces in the username are fine!
user = input('Enter OEP-username:')
token = getpass.getpass('Token:')

Enter OEP-username:Ludee
Token:········

Now we'll create an sql-alchemy-engine. The engine is what 'speaks' oedialect to the data base api. We need to tell it where the data base is and pass our credentials.

In [6]:
# Create Engine:
OEP_URL = 'openenergy-platform.org' #'193.175.187.164' #'oep.iks.cs.ovgu.de'
OED_STRING = f'postgresql+oedialect://{user}:{token}@{OEP_URL}'

engine = sa.create_engine(OED_STRING)
metadata = sa.MetaData(bind=engine)
print(metadata)

MetaData(bind=Engine(postgresql+oedialect://Ludee:***@openenergy-platform.org))

## Setup a Table

We need to tell the data base what columns and datatypes we are about to upload. In our case we have four columns, two of which are text, one is integer and the last is float.

In [7]:
table_name = 'example_dialect_table'
schema_name = 'sandbox'

ExampleTable = sa.Table(
    table_name,
    metadata,
    sa.Column('variable', sa.VARCHAR(50)),
    sa.Column('unit', sa.VARCHAR(50)),
    sa.Column('year', sa.INTEGER),
    sa.Column('value', sa.FLOAT(50)),
    schema=schema_name
)

## Create the new Table

Now we tell our engine to connect to the data base and create the defined table within the chosen schema.

In [8]:
conn = engine.connect()
print('Connection established')
if not engine.dialect.has_table(conn, table_name, schema_name):
    ExampleTable.create()
    print('Created table')
else:
    print('Table already exists')

Connection established
Table already exists

## Insert data into Table
 
Uploading the information from our DataFrame is now done with a single command. Uploading data in this way will always delete the content of the table and refill it with new values every time. If you change 'replace' to 'append', the data entries will be added to the preexisting ones. (Connecting and uploading may take a minute.)

In [9]:
Session = sessionmaker(bind=engine)
session = Session()
try: 
    example_df.to_sql(table_name, conn, schema_name, if_exists='replace')
    print('Inserted to ' + table_name)
except Exception as e:
    session.rollback()
    raise
    print('Insert incomplete!')
finally:
    session.close()

Inserted to example_dialect_table

You can also insert data manually into the table.

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()
try:
    insert_statement = ExampleTable.insert().values(
        [
            dict(variable='fairy dust', unit='t', year=2020, value=200),
            dict(variable='mana', unit='kg', year=1999, value=120),
            dict(variable='the force', unit='l', year=1998, value=1100)
        ]
    )
    session.execute(insert_statement)
    session.commit()
    print('Insert successful!')
except Exception as e:
    session.rollback()
    raise
    print('Insert incomplete!')
finally:
    session.close()

## Select from Table

Now  we can query our table to see if the data arrived.

In [10]:
Session = sessionmaker(bind=engine)
session = Session()
print(session.query(ExampleTable).all())
session.close()

[('Antimatter price', 'Euro (2010) / GJ', 2020, 3.0), ('Antimatter price', 'Euro (2010) / GJ', 2030, 3.0), ('Antimatter price', 'Euro (2010) / GJ', 2040, 3.0), ('Antimatter price', 'Euro (2010) / GJ', 2050, 4.0), ('Fusion price', 'Euro (2010) / GJ', 2020, 2.0), ('Fusion price', 'Euro (2010) / GJ', 2030, 2.0), ('Fusion price', 'Euro (2010) / GJ', 2040, 2.0), ('Fusion price', 'Euro (2010) / GJ', 2050, 2.0), ('Naquadria price', 'Euro (2010) / GJ', 2020, 10.0), ('Naquadria price', 'Euro (2010) / GJ', 2030, 18.0), ('Naquadria price', 'Euro (2010) / GJ', 2040, 26.0), ('Naquadria price', 'Euro (2010) / GJ', 2050, 32.0), ('Power Cristals price', 'Euro (2010) / GJ', 2020, 6.0), ('Power Cristals price', 'Euro (2010) / GJ', 2030, 10.0), ('Power Cristals price', 'Euro (2010) / GJ', 2040, 11.0), ('Power Cristals price', 'Euro (2010) / GJ', 2050, 14.0), ('CO2 certificate price ', 'Euro (2010) / ton', 2020, 40.0), ('CO2 certificate price ', 'Euro (2010) / ton', 2030, 80.0), ('CO2 certificate price ', 'Euro (2010) / ton', 2040, 160.0), ('CO2 certificate price ', 'Euro (2010) / ton', 2050, 320.0), ('Gross domestic product', 'Billion Euro (2000)', 2020, 1000.0), ('Gross domestic product', 'Billion Euro (2010)', 2030, 2000.0), ('Gross domestic product', 'Billion Euro (2010)', 2040, 3000.0), ('Gross domestic product', 'Billion Euro (2010)', 2050, 4000.0)]

## Storing Query Result in DataFrame
We can write the results of the query back into a DataFrame, where it's easier to handle.

In [11]:
Session = sessionmaker(bind=engine)
session = Session()
df = pd.DataFrame(session.query(ExampleTable).all())
session.close()
df

                  variable                 unit  year   value
0         Antimatter price     Euro (2010) / GJ  2020     3.0
1         Antimatter price     Euro (2010) / GJ  2030     3.0
2         Antimatter price     Euro (2010) / GJ  2040     3.0
3         Antimatter price     Euro (2010) / GJ  2050     4.0
4             Fusion price     Euro (2010) / GJ  2020     2.0
5             Fusion price     Euro (2010) / GJ  2030     2.0
6             Fusion price     Euro (2010) / GJ  2040     2.0
7             Fusion price     Euro (2010) / GJ  2050     2.0
8          Naquadria price     Euro (2010) / GJ  2020    10.0
9          Naquadria price     Euro (2010) / GJ  2030    18.0
10         Naquadria price     Euro (2010) / GJ  2040    26.0
11         Naquadria price     Euro (2010) / GJ  2050    32.0
12    Power Cristals price     Euro (2010) / GJ  2020     6.0
13    Power Cristals price     Euro (2010) / GJ  2030    10.0
14    Power Cristals price     Euro (2010) / GJ  2040    11.0
15    Power Cristals price     Euro (2010) / GJ  2050    14.0
16  CO2 certificate price     Euro (2010) / ton  2020    40.0
17  CO2 certificate price     Euro (2010) / ton  2030    80.0
18  CO2 certificate price     Euro (2010) / ton  2040   160.0
19  CO2 certificate price     Euro (2010) / ton  2050   320.0
20  Gross domestic product  Billion Euro (2000)  2020  1000.0
21  Gross domestic product  Billion Euro (2010)  2030  2000.0
22  Gross domestic product  Billion Euro (2010)  2040  3000.0
23  Gross domestic product  Billion Euro (2010)  2050  4000.0

In [12]:
pip show sqlalchemy

Name: SQLAlchemy
Version: 1.2.18
Summary: Database Abstraction Library
Home-page: http://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT License
Location: c:\anaconda3\envs\py36-oep\lib\site-packages
Requires:
Required-by: GeoAlchemy2
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip show oedialect

Name: oedialect
Version: 0.0.5.dev0
Summary: SQL-Alchemy dialect for the OpenEnergy Platform
Home-page: https://github.com/openego/oedialect
Author: MGlauer
Author-email: martinglauer89@gmail.com
License: UNKNOWN
Location: c:\anaconda3\envs\py36-oep\lib\site-packages
Requires: requests, sqlalchemy
Required-by:
Note: you may need to restart the kernel to use updated packages.